body{
    background-color: aqua;
}

#html5{
    width: 10%;
}

figure{
    margin-left: 2%;
}

table, tr, td, th{
    border: solid;
    border-collapse: collapse;

    border-color: rgb(67, 10, 10);
    border-width: 2px;
}

td:hover{
    background-color: blueviolet;
    color: rgb(159, 159, 168);
}

@media(max-width:500px){
    body{
        background-color: black;
    }
}
